name: Deploy

on:
  push:
    branches:
      - main
env:
  IMAGE_NAME: terraria-tshoks
  PREFIX: 5.2
  PREFIX_TERRARIA: 1.4.4.9

jobs:
  Build_and_push:
    name: Build
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
#      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64, linux/arm64/v8, linux/arm/v7, linux/arm/v5, linux/ppc64le, linux/386
          file: Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.PREFIX }}
            ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.PREFIX_TERRARIA }}
          cache-from: type=gha,mode=max
          cache-to: type=gha,mode=max